/* Imagen de la casa, ubicada a la izquierda con margen derecho */
.house-foto {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.house-info {
  display: flex;         /* Flexbox para alinear los elementos */
  flex-direction: column;
  flex-wrap: wrap;       /* Permite que los elementos se acomoden en múltiples líneas */
  width: 100%;           /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.house-info-elem b {
  margin-right: 7px;
}

.house-infoizq-elem{
  font-size: 17px;
}

.house-infodcha-elem {
  font-size: 20px;
  color: #3e3e3e;
  flex-grow: 1;
  text-align: start;
  margin-left: 50px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

.house-infoizq-info{
  display: flex;
  flex-direction: column;
}

.house-infoizq-botones {
  width: 30%;
  display: flex;
  align-items:center;
  flex-direction: column;
  margin: 0 10px;
  margin-left: 60px;
  gap: 5px;
}

.house-botonreservar{
  display: block;
  margin: 0 auto;
}

.house-infoizq-elem b{
  margin-right: 7px;
}

.house-infoizq-elem{
  margin-right: auto;
}