/* Contenedor de contenido de la casa */
.house-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

/* Imagen de la casa, ubicada a la izquierda con margen derecho */
.house-foto {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Contenedor del número, centrado a la derecha de la imagen */
.house-numero {
  font-size: 1.5em;
  color: #666;
  flex-grow: 1; /* Ocupa el espacio sobrante para centrar */
  text-align: center;
  margin-bottom: 10px; /* Espacio entre número y botón */
}

.house-infoizq {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
  gap: 5px;
}

.house-infoizq-content{
  margin: 20px 0px;
}