.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Eliminar el cursor de texto en todos los elementos que no sean de entrada o áreas de texto */
* {
  -webkit-user-select: none;  /* Deshabilita la selección de texto */
  -moz-user-select: none;     /* Deshabilita la selección de texto */
  -ms-user-select: none;      /* Deshabilita la selección de texto */
  user-select: none;          /* Deshabilita la selección de texto */
  caret-color: transparent;   /* Hace invisible el cursor (caret) */
}

/* Asegúrate de habilitar la selección de texto y el cursor en campos interactivos */
input, textarea, select, button, a {
  -webkit-user-select: text;  /* Permite seleccionar texto en campos de entrada */
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;          /* Permite seleccionar texto */
  caret-color: auto;          /* Restaura el cursor visible en los campos de entrada */
}