

  .elementocasaext-container {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  /* Animación al pasar el mouse */
  .elementocasaext-container:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  
  /* Contenido de la casa */
  .elementocasaext-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 60px 0px 30px; /* Añadimos padding lateral para dar más espacio */
    width: 700px;
  }
  
  /* Nombre de la casa */
  .elementocasaext-nombre h2 {
    margin: 0;
    color: #333;
    transition: color 0.3s ease;
    width: 120px;
    margin-left: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  /* Número de la casa */
  .elementocasaext-info p {
    margin: 0;
    font-size: 1.2em;
    color: #666;
    margin-left: 50px;
  }

  .elementocasaext-info {
    display: flex;
    flex-direction: column;
  }

  .elementocasaext-foto img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }