/* Estilo para el contenedor del calendario */
.calendar-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .calendar-container h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  
  /* Cambia el color de la fecha seleccionada */
  .react-calendar__tile--active {
    background-color: #a1e6f2 !important;
    color: white !important;
  }
  
  /* Día inicial del rango seleccionado */
.highlight-start {
  background-color: #35b0cfc7 !important; /* Azul oscuro */
  color: white !important;
}

/* Día final del rango seleccionado */
.highlight-end {
  background-color: #35b0cfc7 !important; /* Azul oscuro */
  color: white !important;
}

/* Días intermedios del rango seleccionado */
.highlight-middle {
  background-color: #a1e6f2 !important; /* Azul más claro */
  color: #333 !important;
}
  

  .tile-no-disponible {
    background-color: #ff565685 !important; /* Fondo rojo */
    color: rgba(90, 90, 90, 0.438) !important;
    cursor: not-allowed;
  }

  /* Estilo para las fechas ocupadas */
  .react-calendar__tile--disabled {
    background-color: #ffd6d6 !important;
    color: #999 !important;
    cursor: not-allowed;
  }
  
  /* Estilo general del calendario */
  .react-calendar {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .react-calendar__navigation button {
    color: #333;
    font-weight: bold;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #f0f8ff;
  }
  