

.botongen-container {
    background-color: rgb(206, 196, 191);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    height: 50px;
    width: 300px;
    display: inline-block;
    margin: 5px;
  }
  
  /* Animación al pasar el mouse */
  .botongen-container:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  
  /* Contenido de la casa */
  .botongen-content {
    display:block;
  }
  
  /* Nombre de la casa */
  .botongen-nombre h2 {
    margin: 0;
    color: #000000;
    transition: color 0.3s ease;

}