.interruptor-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.interruptor {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    transition: background-color 0.3s;
}
.interruptor-circle {
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}
.interruptor.on {
    background-color: rgb(255, 136, 0);
}
.interruptor.on .interruptor-circle {
    transform: translateX(25px);
}