/* GENERAL */
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255, 249, 243);
    padding-bottom: 30px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 25px;
    color: rgb(255, 136, 0);
}

.text{
    font-size: 30px;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(255, 197, 131);
    border-radius: 9px;
}

.inputs{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background-color: rgb(236, 230, 224);
    border-radius: 6px;
    margin-bottom: 15px;
}

.genericinput{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background-color: rgb(236, 230, 224);
    border-radius: 6px;
    margin-bottom: 15px;
}

.input img{
    margin-left: 30px;
}

.input input{
    background: transparent;
    border: none;
    outline: none;
    margin: auto;
    height: 50px;
    width: 400px;
    font-size: 19px;
    color:rgb(27, 27, 27);
    margin-left: 30px;
}

.genericinput textarea{
    background: transparent;
    border: none;
    outline: none;
    margin: auto;
    height: 50px;
    width: 400px;
    color:rgb(27, 27, 27);
}

#mensaje-error-contraseñas{
    margin:auto;
    margin-bottom: 20px;
}

.user-type-container{
    display: flex;
    gap: 10px;
    margin: 0px auto;
}

.user-type{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 160px;
    color: rgb(255, 255, 255);
    background: rgb(255, 85, 142);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 220px;
    color: rgb(255, 255, 255);
    background: rgb(255, 136, 0);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 650;
    cursor: pointer;
}

.gray{
    background: rgb(211, 184, 159);
}

.accept{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
}


.accept-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 220px;
    color: rgb(255, 255, 255);
    background: rgb(57, 110, 255);
    font-size: 19px;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
}

.accept-button:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header a:hover {
    text-decoration: underline;
}

.left {
    display: flex;
    gap: 20px;
}

.right {
    display: flex;
    gap: 20px;
}

.infoizq-infodcha {
    display: flex;
    width: 100%;
}

.infoizq {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    gap: 10px;
}

.infodcha {
    width: 50%;
    margin: 20px 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: auto;     
}

.infocentroizq {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    gap: 10px;
}

.infocentrocentro {
    width: 20%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    height: 50vh;        /* Hace que la división ocupe toda la altura de la pantalla */
    overflow-y: auto;
    overflow-x: unset;
}

.infocentrodcha h2{
    margin-top: 0px;
}

.infocentrodcha {
    width: 50%;
    margin: 20px 0px;
    margin-right: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 60vh;        /* Hace que la división ocupe toda la altura de la pantalla */
    overflow-y: auto;     
}

.interruptor-content{
    display: flex;
    flex-direction: row;
}


.condiciones{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.interruptor-texto{
    font-size: 19px;
    margin-right: 10px;
}

.interruptor-peq-texto{
    font-size: 15px;
    margin-left: 8px;
}

.cancelable-container{
    display: flex;
    flex-direction: row;
}


.cancelable-input {
    margin-left: 10px; /* Espacio al lado del interruptor */
    height: 30px;
    width: 60px;
    font-size: 16px;
    padding: 5px;
}

.cancelable-texto {
    margin-top: 4px; /* Espacio entre el input y el texto */
    margin-left: 5px; /* Opcional: desplaza el texto un poco a la izquierda */
}
